.card {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card.cases {
    background: rgb(30, 111, 242);
    background: linear-gradient(90deg, rgba(30, 111, 242, 1) 0%, rgba(80, 144, 250, 1) 93%);
}

.card.deaths {
    background: #e52d27;
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);
    background: linear-gradient(to right, #b31217, #e52d27);
}

.card.recovered {
    background: #00b09b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #96c93d, #00b09b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #96c93d, #00b09b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card.todayCases {
    background: #f12711;
    background: -webkit-linear-gradient(to left, #f55f19, #f12711);
    background: linear-gradient(to left, #f55f19, #f12711);
}

.card.todayDeaths {
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);
}

.card.critical {
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
}

.card .card-title {
    font-size: 18px;
    font-weight: bold;
}

.card .figure {
    font-size: 48px;
}