.country-header {
    padding: 20px;
    padding-top: 0;
    background-color: white;
}

.country-header .country-flag {
    width: 25px;
    height: 15px;
    margin-right: 5px;
}

.country-header .country-title {
    font-size: 24px;
    color: #646464;
}