.chart-container {
    background-color: white;
    padding: 20px;
    overflow-y: hidden;
}

.canvas-container {
    height: 60vh;
}

@media screen and (max-width: 768px) {
    .canvas-container {
        width: 200vw;
    }
}